# Compare y-ome annotations for new list (revised manuscript) vs. original version

In [3]:
import pandas as pd
import numpy as np
from yome.util import to_df, report, scale_color, mpl_setup
from yome import Session
from yome.models import *

session = Session()

In [4]:
features = pd.read_table('../data/features.tsv.gz')

features_v1 = pd.read_table('../data/old-versions/features.v1.tsv.gz')

yome = pd.read_table('../data/yome-genes.tsv')

yome_v1 = pd.read_table('../data/old-versions/yome-genes.v1.tsv')

In [5]:
comp = yome_v1.merge(yome, on=['locus_id', 'primary_name'], suffixes=['_v1', ''])

In [9]:
res = comp[(comp.yome != comp.yome_v1) & (comp.yome != 'tbd') & (comp.yome_v1 != 'excluded')]
res

     locus_id primary_name yome_v1      yome
384     b0402         proY      no       yes
409     b0427         yajR      no       yes
1266    b1309         ycjM     yes        no
1273    b1316         ycjT     yes        no
1311    b1356         racR     yes        no
1416    b1470         yddJ     yes  excluded
2270    b2352   yfdI, gtrS     yes        no
2471    b2555   qseG, yfhG     yes        no
2757    b2855         ygeK     yes  excluded
2763    b2862         ygeP     yes  excluded
2885    b2991         hybF     yes        no
3911    b4061   pdeC, yjcC     yes        no
4033    b4188         yjfN     yes        no
4148    b4309         nanS     yes        no
4377    b4575         yjgX     yes  excluded
4479    b4702         mgtL     yes        no

In [11]:
', '.join(list(res.primary_name.values))

'proY, yajR, ycjM, ycjT, racR, yddJ, yfdI, gtrS, qseG, yfhG, ygeK, ygeP, hybF, pdeC, yjcC, yjfN, nanS, yjgX, mgtL'